In [1]:
import pandas
import os

In [2]:
print(os.path.exists(r"C:\Users\hp\Downloads\action.csv"))

True

In [3]:
df = pandas.read_csv(r"C:\Users\hp\Downloads\action.csv")

In [4]:
df.head()

,movie_id,movie_name,year,certificate,runtime,genre,rating,description,director,director_id,star,star_id,votes,gross(in $)
0,tt9114286,Black Panther: Wakanda Forever,2022,PG-13,161 min,"Action, Adventure, Drama",6.9,The people of Wakanda fight to protect their h...,Ryan Coogler,/name/nm3363032/,"Letitia Wright, \nLupita Nyong'o, \nDanai Guri...","/name/nm4004793/,/name/nm2143282/,/name/nm1775...",204835.0,NaN
1,tt1630029,Avatar: The Way of Water,2022,PG-13,192 min,"Action, Adventure, Fantasy",7.8,Jake Sully lives with his newfound family form...,James Cameron,/name/nm0000116/,"Sam Worthington, \nZoe Saldana, \nSigourney We...","/name/nm0941777/,/name/nm0757855/,/name/nm0000...",295119.0,NaN
2,tt5884796,Plane,2023,R,107 min,"Action, Thriller",6.5,A pilot finds himself caught in a war zone aft...,Jean-François Richet,/name/nm0724938/,"Gerard Butler, \nMike Colter, \nTony Goldwyn, ...","/name/nm0124930/,/name/nm1591496/,/name/nm0001...",26220.0,NaN
3,tt6710474,Everything Everywhere All at Once,2022,R,139 min,"Action, Adventure, Comedy",8.0,A middle-aged Chinese immigrant is swept up in...,"Dan Kwan, \nDaniel Scheinert",/name/nm3453283/,"Michelle Yeoh, \nStephanie Hsu, \nJamie Lee Cu...","/name/nm3215397/,/name/nm0000706/,/name/nm3513...",327858.0,NaN
4,tt5433140,Fast X,2023,NaN,NaN,"Action, Crime, Mystery",NaN,Dom Toretto and his family are targeted by the...,Louis Leterrier,/name/nm0504642/,"Vin Diesel, \nJordana Brewster, \nTyrese Gibso...","/name/nm0004874/,/name/nm0108287/,/name/nm0879...",NaN,NaN

In [5]:
df = df.drop(["movie_id", "year", "certificate", "description", "director", "director_id", "star", "star_id", "votes", "gross(in $)"], axis = 1)

In [6]:
df.head()

,movie_name,runtime,genre,rating
0,Black Panther: Wakanda Forever,161 min,"Action, Adventure, Drama",6.9
1,Avatar: The Way of Water,192 min,"Action, Adventure, Fantasy",7.8
2,Plane,107 min,"Action, Thriller",6.5
3,Everything Everywhere All at Once,139 min,"Action, Adventure, Comedy",8.0
4,Fast X,NaN,"Action, Crime, Mystery",NaN

In [7]:
df.isnull().sum()

movie_name        1
runtime       19922
genre             0
rating        23004
dtype: int64

In [8]:
df.shape

(52452, 4)

In [9]:
df.dropna()

,movie_name,runtime,genre,rating
0,Black Panther: Wakanda Forever,161 min,"Action, Adventure, Drama",6.9
1,Avatar: The Way of Water,192 min,"Action, Adventure, Fantasy",7.8
2,Plane,107 min,"Action, Thriller",6.5
3,Everything Everywhere All at Once,139 min,"Action, Adventure, Comedy",8.0
5,Ant-Man and the Wasp: Quantumania,125 min,"Action, Adventure, Comedy",6.6
...,...,...,...,...
52393,The Hitch,63 min,"Action, Comedy, Crime",6.4
52404,The Empty Hands,90 min,Action,8.6
52413,Aag Ke Sholay,138 min,"Action, Thriller",4.2
52419,AK 47,125 min,"Action, Thriller",5.2
52421,Black & Blue,105 min,"Action, Drama",5.3

In [10]:
df.shape

(52452, 4)

In [11]:
df["rating"] = df["rating"].fillna(df["rating"].mean())

In [12]:
df.isnull().sum()

movie_name        1
runtime       19922
genre             0
rating            0
dtype: int64

In [13]:
df[["Time", "Unit"]] = df["runtime"].str.split(' ', expand = True)

In [14]:
df.head()

,movie_name,runtime,genre,rating,Time,Unit
0,Black Panther: Wakanda Forever,161 min,"Action, Adventure, Drama",6.900000,161,min
1,Avatar: The Way of Water,192 min,"Action, Adventure, Fantasy",7.800000,192,min
2,Plane,107 min,"Action, Thriller",6.500000,107,min
3,Everything Everywhere All at Once,139 min,"Action, Adventure, Comedy",8.000000,139,min
4,Fast X,NaN,"Action, Crime, Mystery",5.697755,NaN,NaN

#### We split runtime into two columns, now we do not need runtime column anymore. Therefore we delete it

In [15]:
del df["runtime"]

In [16]:
df.head()

,movie_name,genre,rating,Time,Unit
0,Black Panther: Wakanda Forever,"Action, Adventure, Drama",6.900000,161,min
1,Avatar: The Way of Water,"Action, Adventure, Fantasy",7.800000,192,min
2,Plane,"Action, Thriller",6.500000,107,min
3,Everything Everywhere All at Once,"Action, Adventure, Comedy",8.000000,139,min
4,Fast X,"Action, Crime, Mystery",5.697755,NaN,NaN

In [17]:
df.isnull().sum()

movie_name        1
genre             0
rating            0
Time          19922
Unit          19922
dtype: int64

In [18]:
df["Time"] = pandas.to_numeric(df["Time"], errors="coerce")

In [19]:
df["Time"] = df["Time"].fillna(df["Time"].mean())

In [20]:
df.isnull().sum()

movie_name        1
genre             0
rating            0
Time              0
Unit          19922
dtype: int64

In [21]:
del df["Unit"]

In [22]:
df.head()

,movie_name,genre,rating,Time
0,Black Panther: Wakanda Forever,"Action, Adventure, Drama",6.900000,161.000000
1,Avatar: The Way of Water,"Action, Adventure, Fantasy",7.800000,192.000000
2,Plane,"Action, Thriller",6.500000,107.000000
3,Everything Everywhere All at Once,"Action, Adventure, Comedy",8.000000,139.000000
4,Fast X,"Action, Crime, Mystery",5.697755,100.955392

In [23]:
df.isnull().sum()

movie_name    1
genre         0
rating        0
Time          0
dtype: int64

In [24]:
df['Genre'] = df['genre'].str.split(',').str[0].str.strip()

In [25]:
df.head()

,movie_name,genre,rating,Time,Genre
0,Black Panther: Wakanda Forever,"Action, Adventure, Drama",6.900000,161.000000,Action
1,Avatar: The Way of Water,"Action, Adventure, Fantasy",7.800000,192.000000,Action
2,Plane,"Action, Thriller",6.500000,107.000000,Action
3,Everything Everywhere All at Once,"Action, Adventure, Comedy",8.000000,139.000000,Action
4,Fast X,"Action, Crime, Mystery",5.697755,100.955392,Action

In [26]:
del df["genre"]

In [27]:
df.head()

                          movie_name    rating        Time   Genre
0     Black Panther: Wakanda Forever  6.900000  161.000000  Action
1           Avatar: The Way of Water  7.800000  192.000000  Action
2                              Plane  6.500000  107.000000  Action
3  Everything Everywhere All at Once  8.000000  139.000000  Action
4                             Fast X  5.697755  100.955392  Action

In [28]:
Df = df[["rating", "Time", "Genre"]]

In [29]:
Df.rating

0        6.900000
1        7.800000
2        6.500000
3        8.000000
4        5.697755
           ...
52447    5.697755
52448    5.697755
52449    5.697755
52450    5.697755
52451    5.697755
Name: rating, Length: 52452, dtype: float64

In [30]:
genres = df.Genre.nunique()
print(genres)

17

In [31]:
g = df.Genre.unique()
print(g)

['Action' 'Animation' 'Drama' 'Comedy' 'Adventure' 'Western' 'War' 'Crime'
 'Mystery' 'Musical' 'Romance' 'Sci-Fi' 'Fantasy' 'Horror' 'Thriller'
 'Family' 'Biography']

In [32]:
# Genre Mapping
genres = {
    'Action': 1, 
    'Animation': 2, 
    'Drama': 3, 
    'Comedy': 4, 
    'Adventure': 5, 
    'Western': 6, 
    'War': 7, 
    'Crime': 8, 
    'Mystery': 9, 
    'Musical': 10, 
    'Romance': 11, 
    'Sci-Fi': 12, 
    'Fantasy': 13, 
    'Horror': 14, 
    'Thriller': 15, 
    'Family': 16, 
    'Biography': 17
}
df["genre"] = df["Genre"].map(genres)
print(df)

                              movie_name    rating        Time   Genre  genre
0         Black Panther: Wakanda Forever  6.900000  161.000000  Action      1
1               Avatar: The Way of Water  7.800000  192.000000  Action      1
2                                  Plane  6.500000  107.000000  Action      1
3      Everything Everywhere All at Once  8.000000  139.000000  Action      1
4                                 Fast X  5.697755  100.955392  Action      1
...                                  ...       ...         ...     ...    ...
52447                          Suicide 2  5.697755   54.000000  Action      1
52448                              Chaos  5.697755  100.955392  Action      1
52449                      Revolver Lily  5.697755  100.955392  Action      1
52450                           The Wing  5.697755  100.955392  Action      1
52451                       Vey Dharuvey  5.697755  100.955392  Action      1

[52452 rows x 5 columns]

In [33]:
import math

In [34]:
def ed(x1,y1):
    d = math.sqrt((x1 - x) ** 2 + (y1 - y) ** 2)
    return d

In [35]:
from collections import Counter

In [36]:
print("We will predict the rating of the movie by knowing it's name, time and rating of the movie")
n = input("Name:")
x = float(input("Time (in minutes):"))
y = float(input("Rating:"))
c = int(input("Enter number of bins"))

dist = []

print()
print("Predicting...")
print()

m = float('inf')
G = []
indexes = []
for index, row in Df.iterrows():
    d = ed(row['rating'], row['Time'])
    dist.append(d)
    indexes.append(index)

di = list(zip(dist,indexes))
closest = sorted(di)[:c]

ind = []
for distance, index in closest:
    ind.append(index)

gen = []
for i in ind:
    gen.append(Df.Genre[i])

counter = Counter(gen)
#print("The minimum distance is:", sorted(dist)[0])
print(f"The predicted genre is of the movie {n} is:", counter.most_common(1)[0][0])
#print(closest)
#print(gen)

We will predict the rating of the movie by knowing it's name, time and rating of the movie

Name: Kill
Time (in minutes): 90
Rating: 9.0
Enter number of bins 7

Predicting...

The predicted genre is of the movie Kill is: Action

In [41]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [43]:
X = df[["rating","Time"]]
Y = df[["Genre"]]

In [44]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, random_state = 69, test_size = 0.3)

In [45]:
knn = KNeighborsClassifier(n_neighbors = c)
knn.fit(X_train, Y_train)

C:\Users\hp\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\neighbors\_classification.py:238: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=7)

In [46]:
Y_pred = knn.predict(X_test)

In [47]:
from sklearn.metrics import accuracy_score

In [50]:
accuracy = accuracy_score(Y_test, Y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9642857142857143

In [59]:
import tkinter

window = tkinter.Tk()
window.minsize(width = 330, height = 350)
window.config(bg = "light blue")
window.title("Movie Genre Prediction")

head = tkinter.Label()
head.config(text = "Movie Genre Prediction \n using KNN (Without Model)", font = ("Helvatica", 15, "bold"))
head.config(padx = 10, pady = 10, highlightthickness = 1, highlightbackground = "black")
head.grid(row = 1, column = 1, columnspan = 2, padx = 10, pady = 10)

name = tkinter.Label()
name.config(text = "Movie Name:", font = ("Sans Serif", 11, "normal"), bg = "light blue")
name.grid(row = 2, column = 1, padx = 10, pady = 5)

name_text = tkinter.Text()
name_text.config(height = 1, width = 20)
name_text.grid(row = 2, column = 2, padx = 10, pady = 5)

rating = tkinter.Label()
rating.config(text = "Rating (IMDB):", font = ("Sans Serif", 11, "normal"), bg = "light blue")
rating.grid(row = 3, column = 1, padx = 10, pady = 5)

rating_text = tkinter.Text()
rating_text.config(height = 1, width = 20)
rating_text.grid(row = 3, column = 2, padx = 10, pady = 5)

time = tkinter.Label()
time.config(text = "Time (in mins):", font = ("Sans Serif", 11, "normal"), bg = "light blue")
time.grid(row = 4, column = 1, padx = 10, pady = 5)

time_text = tkinter.Text()
time_text.config(height = 1, width = 20)
time_text.grid(row = 4, column = 2, padx = 10, pady = 5)

bin = tkinter.Label()
bin.config(text = "Bins:", font = ("Sans Serif", 11, "normal"), bg = "light blue")
bin.grid(row = 5, column = 1, padx = 10, pady = 5)

bin_text = tkinter.Text()
bin_text.config(height = 1, width = 20)
bin_text.grid(row = 5, column = 2, padx = 10, pady = 5)

def out():
    x = float(time_text.get("1.0", "end-1c").strip()) 
    y = float(rating_text.get("1.0", "end-1c").strip())
    c = int(bin_text.get("1.0", "end-1c").strip()) 

    def ed(x1,y1):
        d = math.sqrt((x1 - x) ** 2 + (y1 - y) ** 2)
        return d

    dist = []
    m = float('inf')
    G = []
    indexes = []
    for index, row in Df.iterrows():
        d = ed(row['rating'], row['Time'])
        dist.append(d)
        indexes.append(index)
    
    di = list(zip(dist,indexes))
    closest = sorted(di)[:c]
    
    ind = []
    for distance, index in closest:
        ind.append(index)
    
    gen = []
    for i in ind:
        gen.append(Df.Genre[i])
    
    counter = Counter(gen)
    output = tkinter.Label()
    output.config(text = f"The predicted genre is: {counter.most_common(1)[0][0]}", font = ("Sans Serif", 11, "normal"))
    output.config(bg = "white", highlightthickness = 1, highlightbackground = "black")
    output.grid(row = 7, column = 1, columnspan = 2, padx = 10, pady = 5)

    acc = tkinter.Label()
    acc.config(text = f"Accuracy: {accuracy}", font = ("Sans Serif", 11, "bold"), highlightthickness = 1, highlightbackground = "black)
    acc.grid(row = 8, column = 1, columnspan = 2, padx = 10, pady = 5)
    
predict = tkinter.Button(command = out)
predict.config(text = "Predict", font = ("Sans Serif", 11, "normal"))
predict.grid(column = 1, row = 6, columnspan = 2, padx = 10, pady = 5)

    
window.mainloop()